h1 {
    text-align: center;
}

body{
    margin: 0;
}

/*Promo*/
$promo:no;
/*Promo*/

/*Card-body Home*/
.card-body{
    text-align: center;
}
/*Card-body Home*/

/*Menu Header*/
.header__fondo{
    background-image: url(../images/apiary_header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.header__logo:hover{
    transform: scale(1.1, 1.1);
}
/*Menu Header*/

/*Footer*/
.footer__fondo{
    background-image: linear-gradient(to bottom, black, #383004,#534600);
    color:white;
    display: block;
    width: 100%;
    border-top: solid 10px black;
    margin: 10px 0px 0px 0px;
}

#footer__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#footer__grid .item{
    border: hidden;
    padding: 10px;
}

.footer__quitarLink{
    text-decoration: none;
    color:#756202;
}
    a:hover {
        text-decoration: none;
        color:black
    }
    
    a:active {
        text-decoration: none;
        color:grey
}

/*Footer*/
